/*Playground*/

*{
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
}

.background {
  height: 400rem;
  background-image: url(/images/Hero2@2x.jpg);
  background-size: cover; 
}

.logo {
  width: 40px;
}

nav {
  background-color: transparent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  color: #f0f0f0;
  transition: color 1s;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: transparent;
  backdrop-filter: blur(5px);
  box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-button {
  display: none;
}

@media screen and (max-width: 450px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .sidebar {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .sidebar {
    display: none;
  }
}
  
