<section class="block block--light block--skewed-left hero">
    <div class="container grid grid--1x2">
      <div class="hero__container" >
        <header class="block__header hero__content">
          <h1 class="block__heading" >LM Pilates</h1>
          <p class="hero__tagline" >Reformer based pilates in Ilkley</p>
          <div class="btn__container"><a href="#" class="btn btn--primary btn--stretched">Book Now</a></div>
        </header>
      </div>
      <div class="hero__container"><img class="hero__image"  src="images/banner.png" alt=""></div>  
    </div>
      
    </div>
   </section>