<div style="width: 100%; padding: 4rem;">
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Pricing</h3>
          <span class="plan__price">£50</span>
          <span class="price__cycle">/per hour (one person)</span>
          <span class="badge badge--secondary badge--small">MORE INFO</span>
          <span class="plan__description">Reformer Sessions</span>
          
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">item 1</li>
            <li class="list__item">item 2</li>
            <li class="list__item">item 3</li>
          </ul>
          <button class="btn btn--outline btn--block">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>