<section class="block">
    <header class="block__header">
      <h2>What Customers Say?</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eaque est fugiat cumque, repellendus veniam neque! Sequi possimus eum quia accusantium aut eius ullam magni!</p>
    </header>

    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
           <img src="images/testimonial/testimonial1@2x.jpg" alt="A picture of the pilates instructor using the combo chair">
            <span class="icon-container icon-container--accent">
             <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
             </svg>
            </span>
           </div>
           <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae illo sapiente ad error, quia, libero, quod non magnam aspernatur inventore cupiditate repellendus autem dignissimos incidunt?
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  
                    <svg class="icon icon--primary quote__line">
                      <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
                  </span>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">Reformer</h3>
                  <p class="quote__organisation">Leiko Pilates</p>
                </div>
              </div>
            </footer>
            <a href="#" class="btn btn--accent btn--block testimonial__button">READ ALL REVIEWS HERE..</a>
          </blockquote>
        </div>
      </div>
    </div>

  </section>