<section class="block block--light block--skewed-left hero">
  <div class="container grid grid--1x2">
    <div class="hero__container" >
      <header class="block__header hero__content">
        <h1 class="block__heading" >LM Pilates</h1>
        <p class="hero__tagline" >Reformer based pilates in Ilkley</p>
        <div class="btn__container"><a href="#" class="btn btn--primary btn--stretched">Book Now</a></div>
      </header>
    </div>
    <div class="hero__container">
      <picture>
        <source type="image/webp" srcset="images/Hero2.webp 1x, images/Hero2@2x.webp 2x" >
        <source type="image/png" srcset="images/Hero2.png 1x, images/Hero2@2x.png 2x" >
        <img class="hero__image" src="images/Hero2@2x.jpg" alt="A picture of Leiko, the pilates instructor, sat on the reformer bench" data-aos="fade-left" data-aos-duration="2000" >
      </picture>
    </div>
  </div>  
</section> 