<section class="block block-plans">
  <header class=" block__header block__plan__header">Price Plans</header>
  <grid class="grid grid--1x2">
      <div class="plan plan--popular">
        <div class="card card--primary">
          <header class="card__header">
            <h3 class="plan__name">Pricing</h3>
            <span class="plan__description">Reformer Sessions</span>
            <span class="plan__price">£50</span>
            <span class="price__cycle">/per hour (one person)</span>        
          </header>
          <div class="card__body">
            <ul class="list">
              <li class="list__item">Time Table (Sessions are all one hour):</li>
              <li class="list__item">Wednesday: 4.15pm, 5.30pm, 6.45pm</li>
              <li class="list__item">Thursday: 8am, 9.15am, 10.30am, 11.45am, 1pm</li>
              <li class="list__item">Saturday: 8am, 9.15am, 10.30am</li>
            </ul>
            <button class="btn btn--primary btn--stretched btn--block">BOOK NOW</button>
          </div>
        </div>
      </div>         
        <div class="plan plan--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="plan__name">Pricing</h3>
              <span class="plan__description">Reformer Sessions</span>
              <span class="plan__price">£65 </span>
              <span class="price__cycle">/per hour (two people)</span>                
            </header>
            <div class="card__body">
              <ul class="list">
                <li class="list__item">Booking through Ilkley Yoga Centre website or Mindbody app</li>
                <li class="list__item">Payment is made when you book</li>
                <li class="list__item">Cancellation within 24 hours charged in full</li>
              </ul>
              <button class="btn btn--primary btn--stretched btn--block">BOOK NOW</button>
            </div>
          </div>
        </div>   
  </grid>
</section>