<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header" >
      <h2>For Your Individual Needs</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source type="image/webp" srcset="images/feature.webp 1x, images/feature@2x.webp 2x" >
        <source type="image/png" srcset="images/feature.png 1x, images/feature@2x.png 2x" >
        <img src="images/feature.png" alt="">
      </picture>

      <ul class="list" >

        <li class="list__item1" >
          <div class="media">
            <div class="media__image">
              <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#eye-solid"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">24 years experience</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, iste quibusdam sequi praesentium unde temporibus. Sapiente officiis beatae obcaecati doloremque.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="media">
            <div class="media__image">
              <span class="icon-container">
                <svg class="icon icon--primary">
                  <use xlink:href="images/sprite.svg#eye-solid"></use>
                </svg>
              </span>
            </div>
            <div class="media__body">
              <h3 class="media__title">High Standards</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus, consequuntur. Suscipit laborum enim optio voluptatibus iusto iure quia ab possimus.</p>
            </div>
          </div>
        </li>

        <li>
          <li>
            <div class="media">
              <div class="media__image">
                <span class="icon-container">
                  <svg class="icon icon--primary">
                    <use xlink:href="images/sprite.svg#eye-solid"></use>
                  </svg>
                </span>
              </div>
              <div class="media__body">
                <h3 class="media__title">Attention to Detail</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus autem rerum provident doloribus vero tempore ipsa doloremque assumenda facere sapiente.</p>
              </div>
            </div>
          </li>
        </li>
      </ul>

    </div>
  </section>